<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="file/upload" method="post" enctype="multipart/form-data">
    <p>exl读取</p><input type="file" name="detailFile">
    <p>exl读取code</p><input type="file" name="codeFile">
    <p><input type="submit" value="提交"></p>
</form>


<form action="file/uploadCsv" method="post" enctype="multipart/form-data">
    <p>csv读取</p><input type="file" name="scvFile">
    <p>exl读取code</p><input type="file" name="exlCodeFile">
    <p><input type="submit" value="提交"></p>
</form>

<form action="file/uploadCsv" method="post" enctype="multipart/form-data">
    <p>scv</p><input type="file" name="scvFile">
    <p>code</p><input type="file" name="scvCodeFile">
    <p><input type="submit" value="提交"></p>
</form>

</body>
</html>